# .github/workflows/python.yml
name: Python CI

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  run-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        # optional:
        # with:
        #   fetch-depth: 1

      - name: Show repo tree (debug)
        run: |
          pwd
          ls -la

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: pip

      - name: Run script (if present)
        run: |
          if [ -f main.py ]; then python main.py; else echo "No main.py"; fi
